html, body {
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: sans-serif;
  margin-left: 1%;
  margin-right: 1%;
  font-weight: normal;
}

h2 {
  color: #000000;
}

p {
  font-size: 18px;
}

.input.full-width {
  width: 100%;
}

.md-headline {
  font-family: sans-serif;
  font-size: 30px;
}

md-card md-card-title md-card-title-text .md-subhead {
  font-family: sans-serif;
  font-size: 18px;
}

header {
  margin: 30px 15px;
}

footer h3, footer p {
  margin: 0;
}

main {
  margin: 15px 15px 30px 15px;
}

footer {
  background-color:#000000;
padding: 1px
}

footer p a {
  color: #fff;
  text-decoration: underline;
}

footer p a:hover {
  color: #fff;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.flex-item {
    width: 50%;
    height: 100px;
    margin: 1px;
}
.loading-indicator.loaded {
  display: none;
}

.loader {
  display: inline-block;
  position: relative;
}

.loader:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  border-right: 4px solid transparent;
  left: calc(100% + 15px);
  top: -10px;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
